In [1]:
import pandas as pd
import json_lines
import re
import numpy as np

def read_data_from_jl(file_path):
    with open(file_path, 'rb') as f:
        data = json_lines.reader(f)

        df = pd.DataFrame(data)
        
        return df
    return None

In [2]:
df = read_data_from_jl('data/phongtro123.jl')
df.head(10)

,description,location,kind,area,price
0,Cho thuê CCMN kín full đồ (có thể chuyể...,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...","Phòng trọ, nhà trọ",35m²,4.5 triệu/tháng
1,"Cho thuê phòng DT 20m2 sạch sẽ, tùy từng phòng...","460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...","Phòng trọ, nhà trọ",22m²,1.8 triệu/tháng
2,Cho thuê phòng full đồ Địa chỉ: số nhà 26 ngõ ...,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...","Phòng trọ, nhà trọ",18m²,2.5 triệu/tháng
3,"Cho thuê nhà 15 ngõ 65 khương đình, nhà 02 tần...","15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...","Phòng trọ, nhà trọ",25m²,2 triệu/tháng
4,Mình có 1 phòng cho thuê khép kín ở khu vực Ng...,"Đường Khương Trung, Phường Khương Trung, Quận ...","Phòng trọ, nhà trọ",15m²,2.2 triệu/tháng
5,- Diện tích các căn hộ từ 30m2 - 45m2. Giá cho...,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...","Phòng trọ, nhà trọ",30m²,1 triệu/tháng
6,"Cho thuê phòng trọ khép kín tại Mễ Trì Thượng,...","Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...","Phòng trọ, nhà trọ",20m²,1.5 triệu/tháng
7,"Cho học sinh, sinh viên, người đi làm thuê phò...","Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...","Phòng trọ, nhà trọ",9m²,2 triệu/tháng
8,CHO THUÊ HOMESTAY ĐỦ TIỆN ÍCH GIÁ SINH VIÊN Đị...,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...","Phòng trọ, nhà trọ",240m²,1.35 triệu/tháng
9,Phòng BAN CÔNG rộng Full ĐỒ CẠNH HỒ VĂN QUÁN -...,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...","Phòng trọ, nhà trọ",22m²,2.8 triệu/tháng

In [3]:
des = df['description'].values
price = df['price'].values
area = df['area'].values
kind = df['kind'].values
data = pd.DataFrame()

In [4]:
a = []
pattern = '^([0-9]+.[0-9]+|[0-9]+)'
price = df['price'].values
for p in price:
    result = re.findall(pattern, p)
    if result:
        if float(result[0]) > 100:
            a.append(float(result[0])/1000000)
        else:
            a.append(float(result[0]))
    else:
        a.append(0)

data['gia'] = pd.Series(np.array(a), index=df.index)
data.head(10)

    gia
0  4.50
1  1.80
2  2.50
3  2.00
4  2.20
5  1.00
6  1.50
7  2.00
8  1.35
9  2.80

In [5]:
a = []
pattern1 = '(CCMN|[Cc]hung cư)'
pattern2 = '[Hh]omestay'
for d in des:
    ccmn = re.findall(pattern1, d)
    hs = re.findall(pattern2, d)
    if ccmn:
        a.append(2)
    elif hs:
        a.append(1)
    else:
        a.append(0)

data['loai phong'] = pd.Series(np.array(a), index=df.index)
data.head(10)

    gia  loai phong
0  4.50           2
1  1.80           0
2  2.50           0
3  2.00           0
4  2.20           0
5  1.00           0
6  1.50           0
7  2.00           0
8  1.35           0
9  2.80           0

In [6]:
data['vi tri'] = df['location']
data.head(10)

    gia  loai phong                                             vi tri
0  4.50           2  612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...
1  1.80           0  460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...
2  2.50           0  124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...
3  2.00           0  15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...
4  2.20           0  Đường Khương Trung, Phường Khương Trung, Quận ...
5  1.00           0  Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...
6  1.50           0  Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...
7  2.00           0  Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...
8  1.35           0  7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...
9  2.80           0  A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...

In [7]:
b = []
pattern = '^[0-9]+'
for a in area:
    result = re.findall(pattern, a)
    if result:
        b.append(int(result[0]))
    else:
        b.append(0)

data['dien tich'] = pd.Series(np.array(b), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22

In [8]:
# add parking area
a = []
pattern = '[Đđ]ể xe'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['cho de xe'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0

In [9]:
a = []
pattern = '[Đđ]iều hòa'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['dieu hoa'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0,0
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0,0
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1,0
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0,1

In [10]:
a = []
pattern = '[Nn]óng lạnh'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['nong lanh'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0,0,1
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0,0,0
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0,0,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1,0,0
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0,1,1

In [11]:
a = []
pattern = '([Tt]ủ|[Ff]ull đồ|tivi|nội thất đầy đủ)'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['noi that'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh,noi that
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1,1
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1,0
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1,1
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1,0
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0,0,1,1
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0,0,0,0
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0,0,0,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1,0,0,1
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0,1,1,1

In [12]:
a = []
pattern = 'khép kín'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['khep kin'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh,noi that,khep kin
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1,1,0
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1,0,0
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1,1,0
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0,0,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1,0,1
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0,0,1,1,1
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0,0,0,0,1
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0,0,0,0,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1,0,0,1,0
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0,1,1,1,0

In [13]:
a = []
pattern = '[Tt]ổng diện tích'
for d in des:
    result = re.findall(pattern, d)
    if result:
        a.append(1)
    else:
        a.append(0)

data['tong dien tich'] = pd.Series(np.array(a), index=df.index)
data.head(10)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh,noi that,khep kin,tong dien tich
0,4.50,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1,1,0,0
1,1.80,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1,0,0,0
2,2.50,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1,1,0,0
3,2.00,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0,0,0,0
4,2.20,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1,0,1,0
5,1.00,0,"Phố Hào Nam, Phường Ô Chợ Dừa, Quận Đống Đa,...",30,0,0,1,1,1,0
6,1.50,0,"Số 10, ngõ 116 phố Miếu Đầm, Đường Đỗ Đức Dục,...",20,0,0,0,0,1,0
7,2.00,0,"Nhà số 06, Ngõ 197, Phố Yên Hòa, Q. Đường Yên ...",9,0,0,0,0,0,0
8,1.35,0,"7 ngõ 68 ngách 53/16 Đường Cầu Giấy, Phường Qu...",240,1,0,0,1,0,0
9,2.80,0,"A34 Đường số 19/5, Phường Văn Quán, Quận Hà Đô...",22,0,1,1,1,0,0

In [19]:
data['Source'] = "phongtro123"
data.drop('source', axis=1)

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh,noi that,khep kin,tong dien tich,Source
0,4.5000,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1,1,0,0,phongtro123
1,1.8000,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1,0,0,0,phongtro123
2,2.5000,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1,1,0,0,phongtro123
3,2.0000,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0,0,0,0,phongtro123
4,2.2000,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1,0,1,0,phongtro123
...,...,...,...,...,...,...,...,...,...,...,...
4144,2.8000,0,"Nhà 9 KTT Gia Cầm, hẻm 98, ngách 26 ngõ Thái T...",25,0,1,1,0,0,0,phongtro123
4145,2.0000,0,"Ngõ 71 Hoàng Văn Thái, Quận Thanh Xuân, Hà Nội",15,1,0,0,0,0,0,phongtro123
4146,2.3000,0,"Hà 126, Tổ 47 Phường Dịch Vọng Hậu, đối diện đ...",25,1,1,0,0,1,0,phongtro123
4147,0.0007,0,"Số 8, Tổ 25, Ngách 1/28, Tổ 25 Phố Thúy Lĩnh, ...",20,1,0,0,0,0,0,phongtro123
4148,1.7000,0,To12 pho tram phuong LB- HN,20,0,0,0,0,0,0,phongtro123

In [16]:
data

,gia,loai phong,vi tri,dien tich,cho de xe,dieu hoa,nong lanh,noi that,khep kin,tong dien tich,source
0,4.5000,2,"612 Đường Lạc Long Quân, Phường Nhật Tân, Quận...",35,0,0,1,1,0,0,thuephongtro
1,1.8000,0,"460 đường Thụy Khuê, Phường Bưởi, Quận Tây Hồ,...",22,1,0,1,0,0,0,thuephongtro
2,2.5000,0,"124 Đường Âu Cơ, Phường Tứ Liên, Quận Tây Hồ, ...",18,1,0,1,1,0,0,thuephongtro
3,2.0000,0,"15 ngõ 65 Đường Khương Đình, Phường Thượng Đìn...",25,0,0,0,0,0,0,thuephongtro
4,2.2000,0,"Đường Khương Trung, Phường Khương Trung, Quận ...",15,1,1,1,0,1,0,thuephongtro
...,...,...,...,...,...,...,...,...,...,...,...
4144,2.8000,0,"Nhà 9 KTT Gia Cầm, hẻm 98, ngách 26 ngõ Thái T...",25,0,1,1,0,0,0,thuephongtro
4145,2.0000,0,"Ngõ 71 Hoàng Văn Thái, Quận Thanh Xuân, Hà Nội",15,1,0,0,0,0,0,thuephongtro
4146,2.3000,0,"Hà 126, Tổ 47 Phường Dịch Vọng Hậu, đối diện đ...",25,1,1,0,0,1,0,thuephongtro
4147,0.0007,0,"Số 8, Tổ 25, Ngách 1/28, Tổ 25 Phố Thúy Lĩnh, ...",20,1,0,0,0,0,0,thuephongtro
4148,1.7000,0,To12 pho tram phuong LB- HN,20,0,0,0,0,0,0,thuephongtro

In [14]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

y = data.values[:, 0]
x = data.drop('vi tri', axis=1).values[:, 1:]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

clf = Lasso(alpha=0.1)
clf.fit(x_train, y_train)
mean_absolute_error(y_test, clf.predict(x_test))

0.9715948999390979

In [20]:
data.to_csv("processed-data/phongtro123.csv")

Lasso(alpha=0.1)

1.244151126154425