In [6]:
import pandas as pd

alonhadat = pd.read_csv('processed-data/alonhadat.csv')
phongtro123 = pd.read_csv('processed-data/phongtro123.csv')
thuephongtro = pd.read_csv('processed-data/thuephongtro.csv')

In [7]:
data = pd.concat([alonhadat, phongtro123, thuephongtro])

In [8]:
data = data.drop('Unnamed: 0', axis=1)

In [9]:
data.to_csv('processed-data/all.csv')

In [10]:
data

,Price,Description,Kind,Location,Size,Parking_slot,Air_condition,Heater_shower,Furnish,Inner_toilet,Size_total_bool,Source
0,6.0,1- Tòa nhà chung cư mini 8 tầng đang hoàn thiệ...,CCMN,"57A NGÕ 221 Phố Tôn Đức Thắng, Phường Hàng B...",40,1,1,1,1,1,0,alonhadat
1,7.0,"Cho thuê mặt bằng tầng 1 làm VP CTY, kho hàng ...",Phòng trọ,"Đường Nguyễn Cơ Thạch, Phường Cầu Diễn, Quận ...",70,0,0,0,0,0,0,alonhadat
2,4.0,Căn hộ khép kín tại số 50 ngõ 322 đường Mỹ Đìn...,Phòng trọ,"Số nhà 5 ngõ 322/50 Đường Mỹ Đình, Phường Mỹ ...",30,1,1,1,1,1,0,alonhadat
3,9.0,Được sự đồng ý của chủ nhà và bạn quả lý tòa n...,CCMN,"Đường Hoàng Đạo Thúy, Phường Trung Hòa, Quận ...",76,1,1,1,1,1,0,alonhadat
4,12.0,"Thiết kế \r\n -Căn góc 120m2 3PN,2Wc 1Khach đầ...",Phòng trọ,"Đường Vũ Trọng Phụng, Phường Thanh Xuân Trung...",120,0,0,0,0,0,0,alonhadat
...,...,...,...,...,...,...,...,...,...,...,...,...
2991,15.0,\r\n \r\n ...,Phòng trọ,"374c, đường Mỹ Đình, Phường Mỹ Đình 1, Nam Từ ...",30,0,0,0,0,0,0,thuephongtro
2992,2.5,\r\n \r\n ...,Phòng trọ,"28 402/42/22 Đường Đình Thôn, Phường Mỹ Đình 1...",30,1,0,1,0,0,0,thuephongtro
2993,3.7,\r\n \r\n ...,Phòng trọ,"Đường Lê Quang Đạo, Phường Phú Đô, Nam Từ Liêm...",30,0,1,1,1,1,0,thuephongtro
2994,5.5,\r\n \r\n ...,CCMN,"Ngõ 23 Đường Nguyễn Thị Định, Phường Trung Hòa...",35,1,1,1,0,1,0,thuephongtro
2995,1.3,\r\n \r\n ...,Phòng trọ,"Hoàng Mai, Hà Nội",10,1,0,1,0,0,0,thuephongtro